.card {
    background-color: white;
    border-radius: 1rem;
    margin-left: -2rem;
    transition: 0.3s;
    width: 100%;
}

.card-header {
    background-color: maroon;
    color: white;
}

.card:hover {
    transform: translateY(-2rem);
}
.card:hover ~ .card {
    transform: translateX(4rem);
}

.jumbotron {
    background-color: dimgray;
    color: white;
}

h2 {
    font-size: 28px;
}

h3 {
    font-size: 20px;
}

.card-header {
    height: 150px;
}

li {
    font-size: 14px;
}


